<a href="https://colab.research.google.com/github/Dhruval360/Data-Analytics/blob/main/EDA_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mounting Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
!ls drive/MyDrive/Dataset

dengue_features_test.csv   dengue_labels_train.csv
dengue_features_train.csv  submission_format.csv

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('drive/MyDrive/Dataset/dengue_labels_train.csv')
df.head()

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

In [11]:
df = pd.read_csv('drive/MyDrive/Dataset/dengue_features_train.csv')
df.head()

  city  year  ...  station_min_temp_c station_precip_mm
0   sj  1990  ...                20.0              16.0
1   sj  1990  ...                22.2               8.6
2   sj  1990  ...                22.8              41.4
3   sj  1990  ...                23.3               4.0
4   sj  1990  ...                23.9               5.8

[5 rows x 24 columns]

In [12]:
print(df)

     city  year  ...  station_min_temp_c station_precip_mm
0      sj  1990  ...                20.0              16.0
1      sj  1990  ...                22.2               8.6
2      sj  1990  ...                22.8              41.4
3      sj  1990  ...                23.3               4.0
4      sj  1990  ...                23.9               5.8
...   ...   ...  ...                 ...               ...
1451   iq  2010  ...                22.4              27.0
1452   iq  2010  ...                21.7              36.6
1453   iq  2010  ...                19.2               7.4
1454   iq  2010  ...                21.0              16.0
1455   iq  2010  ...                22.2              20.4

[1456 rows x 24 columns]